# Exclude some file types from automatic code style
exclude: \.(json|csv)$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
        exclude: '\.rst$'  # Exclude .rst files
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      # Run the linter and fix simple issues automatically
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.15.0'
    hooks:
      - id: mypy
        additional_dependencies:
          - "types-requests==2.32.0.20241016"
          - "pandas-stubs==2.2.3.241009"
          - "numpy==2.1.3"
        pass_filenames: false
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: main
    hooks:
      - id: pymarkdown
        files: ^docs/
        exclude: ^docs/_generated
        args:
          - --config=docs/pymarkdown.json
          - scan
