---
networks:
  default:
    external: true
    name: "eos"
services:
  eos:
    image: "akkudoktor/eos:${EOS_VERSION}"
    container_name: "akkudoktoreos"
    read_only: true
    build:
      context: .
      dockerfile: "Dockerfile"
      args:
        PYTHON_VERSION: "${PYTHON_VERSION}"
    env_file:
      - .env
    environment:
      - OPENBLAS_NUM_THREADS=1
      - OMP_NUM_THREADS=1
      - MKL_NUM_THREADS=1
      - PIP_PROGRESS_BAR=off
      - PIP_NO_COLOR=1
      - EOS_CONFIG_DIR=config
      - EOS_SERVER__EOSDASH_SESSKEY=s3cr3t
      - EOS_SERVER__HOST=0.0.0.0
      - EOS_SERVER__PORT=8503
      - EOS_SERVER__EOSDASH_HOST=0.0.0.0
      - EOS_SERVER__EOSDASH_PORT=8504
    ulimits:
      nproc: 65535
      nofile: 65535
    security_opt:
      - seccomp:unconfined
    restart: unless-stopped
    ports:
      # Configure what ports to expose on host
      - "${EOS_SERVER__PORT}:8503"
      - "${EOS_SERVER__EOSDASH_PORT}:8504"

    # Volume mount configuration (optional)
    # Example volume mounts (uncomment to use):
    # volumes:
    #   - ./config:/opt/eos/config     # Mount local config directory
    #   - ./cache:/opt/eos/cache       # Mount local cache directory
    #   - ./output:/opt/eos/output     # Mount local output directory
