---
networks:
  default:
    name: "eos"
services:
  eos:
    image: "akkudoktor/eos:${EOS_VERSION}"
    #read_only: true
    build:
      context: .
      dockerfile: "Dockerfile"
      args:
        PYTHON_VERSION: "${PYTHON_VERSION}"
    volumes:
      - ./src/akkudoktoreos/default.config.json:/opt/eos/EOS.config.json:ro
    ports:
      - "${EOS_PORT}:${EOS_PORT}"
