---
networks:
  eos:
    name: 'eos'
services:
  eos:
    image: 'akkudoktor/eos:${EOS_VERSION}'
    build:
      context: .
      dockerfile: 'Dockerfile'
      args:
        PYTHON_VERSION: '${PYTHON_VERSION}'
    depends_on:
      - 'mariadb'
    init: true
    environment:
      FLASK_RUN_PORT: '${EOS_PORT}'
    networks:
      - 'eos'
    ports:
      - '${EOS_PORT}:${EOS_PORT}'
    volumes:
      - ./config.py:/opt/eos/config.py:ro
  mariadb:
    image: 'mariadb:${MARIADB_VERSION}-jammy'
    environment:
      MARIADB_ROOT_PASSWORD: '${MARIADB_ROOT_PASSWORD}'
      MARIADB_DATABASE: '${MARIADB_DATABASE}'
      MARIADB_USER: '${MARIADB_USER}'
      MARIADB_PASSWORD: '${MARIADB_PASSWORD}'
    networks:
      - 'eos'
    volumes:
      - ./data/mariadb:/var/lib/mysql
