numpy==2.2.3
numpydantic==1.6.7
matplotlib==3.10.1
fastapi[standard]==0.115.11
python-fasthtml==0.12.4
uvicorn==0.34.0
scikit-learn==1.6.1
timezonefinder==6.5.8
deap==1.4.2
requests==2.32.3
pandas==2.2.3
pendulum==3.0.0
platformdirs==4.3.6
pvlib==0.11.2
pydantic==2.10.6
statsmodels==0.14.4
