-r requirements.txt
gitpython==3.1.44
linkify-it-py==2.0.3
myst-parser==4.0.1
sphinx==8.2.1
sphinx_rtd_theme==3.0.2
sphinx-tabs==3.4.7
pytest==8.3.4
pytest-cov==6.0.0
pytest-xprocess==1.0.2
pre-commit
mypy==1.15.0
types-requests==2.32.0.20241016
pandas-stubs==2.2.3.241126
