cachebox==5.0.1
numpy==2.2.5
numpydantic==1.6.8
matplotlib==3.10.3
fastapi[standard]==0.115.12
python-fasthtml==0.12.15
MonsterUI==1.0.19
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
bokeh==3.7.2
uvicorn==0.34.2
scikit-learn==1.6.1
timezonefinder==6.5.9
deap==1.4.3
requests==2.32.3
pandas==2.2.3
pendulum==3.1.0
platformdirs==4.3.7
psutil==7.0.0
pvlib==0.12.0
pydantic==2.11.4
statsmodels==0.14.4
pydantic-settings==2.9.1
linkify-it-py==2.0.3
